header .container {
    max-width: 100%;
}
.logo{
    cursor: pointer;
}

header .navbar-nav .nav-item .nav-link {
    padding: 10px 15px;
    font-size: 18px;
}

header .navbar-nav .nav-item .nav-link:hover {
    background-color: #4a5057;
    border-radius: 5px;
    color: white;
}
:-moz-ui-invalid

.navbar-nav .nav-link {
    font-size: 18px;
    padding: 10px 20px; 
}
header {
    padding-top: 0px;
    margin-bottom: -10px; 
    background-color: rgba(255, 255, 255, 0.9);
    opacity: 0.6;
}

.navbar {
    margin-top: -10px; 
    background-color: rgba(255, 255, 255, 0.9);
}











