<footer class="foot">
    <div class="container">
        <div class="d-flex justify-content-between align-items-center">
            <div>
                <a routerLink="#" class="shadows">Tvm InfoTech Private Limited</a>
            </div>

            <div>
                <h5>TVM InfoTech Private Limited © 2018. All Rights Reserved.</h5>
            </div>

            <div>
                <ul class="list-inline mb-0">
                    <li class="list-inline-item">
                        <a routerLink="#">Enroll</a>
                    </li>
                    <li class="list-inline-item separator">
                        <span>|</span>
                    </li>
                    <li class="list-inline-item">
                        <a routerLink="#">About</a>
                    </li>
                    <li class="list-inline-item separator">
                        <span>|</span>
                    </li>
                    <li class="list-inline-item">
                        <a routerLink="#">Contact</a>
                    </li>
                </ul>
            </div>
        </div>
    </div>
</footer>
