<div>
    <div>
        <img src="assets/sfbg.jpg" alt="img" class="w-100">
    </div>
    <div class="bg-black text-white p-3">
        <a routerLink="/home">HOME</a> > Software   
    </div>
    <div>
        <div>
             <h2 class="text-center p-5">OUR SERVICES</h2>
        </div>
        <div class="row mt-4 p-5">
            <!-- Card 1 -->
            <div class="col-md-3 mb-4">
                <div class="service-card p-4 text-center">
                    <img src="assets/webdesign.png" alt="Logo 1" class="img-fluid mb-3">
                    <h4 class="cardtile">Web Design</h4>
                    <p>Solidify your online presence with a stunningly-looking, functional, custom web design that generates amazing brand engagement.</p>
                </div>
            </div>
            <!-- Card 2 -->
            <div class="col-md-3 mb-4">
                <div class="service-card p-4 text-center">
                    <img src="assets/html.png" alt="Logo 2" class="img-fluid mb-3">
                    <h4 class="cardtile">HTML CSS3 2</h4>
                    <p>If you are looking to upgrade your website and step into the next phase of the Web, we can help you with your HTML5 and CSS3 development needs</p>
                </div>
            </div>
            <!-- Card 3 -->
            <div class="col-md-3 mb-4">
                <div class="service-card p-4 text-center">
                    <img src="assets/bell.png" alt="Logo 3" class="img-fluid mb-3">
                    <h4 class="cardtile">RIA -RIU</h4>
                    <p>Rich Internet Applications developed by the experts at ANGLER offer superior accessibility, portability and scalability.</p>
                </div>
            </div>
            <!-- Card 4 -->
            <div class="col-md-3 mb-4">
                <div class="service-card p-4 text-center">
                    <img src="assets/rocket.png" alt="Logo 4" class="img-fluid mb-3">
                    <h4 class="cardtile">Web Development</h4>
                    <p>Next generation Web Applications to help you sail smooth through challenging and constantly-evolving technological changes.Description of service 4.</p>
                </div>
            </div>
            <!-- Card 5 -->
            <div class="col-md-3 mb-4">
                <div class="service-card p-4 text-center">
                    <img src="assets/cloud-computing.png" alt="Logo 5" class="img-fluid mb-3">
                    <h4 class="cardtile">Web Hosting Services</h4>
                    <p>We provide comprehensive Web Hosting Services to our clients with the help of our experienced professionals.</p>
                </div>
            </div>
            <!-- Card 6 --> 
            <div class="col-md-3 mb-4">
                <div class="service-card p-4 text-center">
                    <img src="assets/edit.png" alt="Logo 6" class="img-fluid mb-3">
                    <h4 class="cardtile">Design Service </h4>
                    <p>If you are looking to upgrade your website and step into the next phase of the Web, we can help you with your HTML5 and CSS3 development needs.</p>
                </div>
            </div>
            <!-- Card 7 -->
            <div class="col-md-3 mb-4">
                <div class="service-card p-4 text-center">
                    <img src="assets/speedometer.png" alt="Logo 7" class="img-fluid mb-3">
                    <h4 class="cardtile">Online Marketting  Service</h4>
                    <p>Having a website that ranks low in a search engine can't make your business grow. You are missing the boat.</p>
                </div>
            </div>
            <!-- Card 8 -->
            <div class="col-md-3 mb-4">
                <div class="service-card p-4 text-center">
                    <img src="assets/letter-y.png" alt="Logo 8" class="img-fluid mb-3">
                    <h4 class="cardtile">Outsourcing Service</h4>
                    <p>We are engaged in providing high quality, reliable, prompt, cost-effective and client-centric Outsourcing Services to our clients.</p>
                </div>
            </div>
        </div>
    </div>
    <div>
        <div>
            <h2 class="text-center border p-4">HIGH-END DEVELOPMENT SERVICES</h2>
        </div>
        <div class="mt-5">

            <div class="container mt-4">
              <div class="row">
                <div class="col-md-4">
                  <div class="card custom-card">
                    <img src="assets/edit.png" class="card-img-top mx-auto d-block logo" alt="Logo 1">
                    <div class="card-body">
                      <h5 class="card-title">WEB SOLUTION</h5>
                      <p class="card-text">We provide a variety of web solutions that enhance your digital assets or your understanding of new and disruptive technologies. Bring us on board to maximize business value from your technology investment.</p>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="card custom-card">
                    <img src="assets/solution.png" class="card-img-top mx-auto d-block logo" alt="Logo 2">
                    <div class="card-body">
                      <h5 class="card-title">MOBILE SOLUTION</h5>
                      <p class="card-text">Mobility has become entrenched in the business environment. If you are in the midst of implementing your enterprise mobility strategy, iNoryaSoft can be of assistance. We offer a suite of mobile solutions targeting diverse business requirements.</p>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="card custom-card">
                    <img src="assets/cloud-computing.png" class="card-img-top mx-auto d-block logo" alt="Logo 3">
                    <div class="card-body">
                      <h5 class="card-title">CLOUD SOLUTION</h5>
                      <p class="card-text">Cloud computing is a recognized means of improving business agility, lowering costs and reducing IT complexity. iNoryaSoft helps you extract most benefit from the latest cloud services while also providing cloud migration and management.</p>
                    </div>
                  </div>
                </div>
              </div>
              <div class="row mt-4">
                <div class="col-md-4">
                  <div class="card custom-card">
                    <img src="assets/key.png" class="card-img-top mx-auto d-block logo" alt="Logo 4">
                    <div class="card-body">
                      <h5 class="card-title">SEO </h5>
                      <p class="card-text">We optimize the site to meet the technical aspects like canonicalization, redirection, and dead links. With this, Google gives more weightage to your site,  engine friendly.</p>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="card custom-card">
                    <img src="assets/ecom.png" class="card-img-top mx-auto d-block logo" alt="Logo 5">
                    <div class="card-body">
                      <h5 class="card-title">E-COMMERCE </h5>
                      <p class="card-text">ven the greatest products don't sell themselves. iNt enhances your e-commerce store's content and optimizes it for both people and search engines.</p>
                    </div>
                  </div>
                </div>
                <div class="col-md-4">
                  <div class="card custom-card">
                    <img src="assets/phonelogo.png" class="card-img-top mx-auto d-block logo" alt="Logo 6">
                    <div class="card-body">
                      <h5 class="card-title">SOFTWARE DEVELOPMENT</h5>
                      <p class="card-text">Dump your business ideas to us we take your business to global level with customized solutions. & integrate with cloud Solutions Optimize everything</p>
                    </div>
                  </div>
                </div>
              </div>
            </div>
          </div>
        
    </div>
    <app-quick-links></app-quick-links>
    <app-footer></app-footer>
</div>
