<div class="quicklink mt-5 p-4">
    <div class="row">
      <div class="col-md-3">
        <h3 class="regular">SOFTWARE SERVICE</h3>
        <ul>
          <li><a routerLink="/softwaareServices">Web Development</a></li>
          <li><a routerLink="/softwaareServices">Software Development</a></li>
          <li><a routerLink="/softwaareServices">Mobile Apps Development</a></li>
          <li><a routerLink="/softwaareServices">E-commerce Development</a></li>
          <li><a routerLink="/softwaareServices">Graphics and Multimedia Solutions</a></li>
          <li><a routerLink="/softwaareServices">SEO Services</a></li>
          <li><a routerLink="/softwaareServices">Web Design</a></li>
        </ul>
      </div>
  
      <div class="col-md-3">
        <h3 class="regular">NETWORK SERVICE</h3>
        <ul>
          <li><a routerLink="/networkServices">Cloud Development</a></li>
          <li><a routerLink="/networkServices">Network Server Admin</a></li>
          <li><a routerLink="/networkServices">Mobile Apps Development</a></li>
          <li><a routerLink="/networkServices">Routing & Switching</a></li>
          <li><a routerLink="/networkServices">Security Engineer</a></li>
          <li><a routerLink="/networkServices">Cloud Engineer</a></li>
          <li><a routerLink="/networkServices">AWS</a></li>
        </ul>
      </div>
  
      <div class="col-md-3">
        <h2 class="shadows">TVM InfoTech Private Limited</h2>
        <p>No.189, 1st Floor, Kamakoti Nagar<br>
           1st Main Road, 7th Cross Street,<br>
           Kamakoti Nagar, Chennai, Tamil Nadu<br>
           600100.</p>
      </div>
  
      <div class="col-md-3">
        <h2 class="regular">Stay Connected</h2>
        <div class="d-flex bg-wite">
          <a href="https://www.facebook.com/" target="_blank"><img src="assets/facebook 4.png" alt="Facebook" class="img-fluid me-2" style="max-height: 30px;"></a>
          <a href="https://x.com/" target="_blank"><img src="assets/twitter 2.png" alt="Twitter" class="img-fluid me-2" style="max-height: 30px;"></a>
          <a href=" https://www.linkedin.com/feed/"  target="_blank"><img src="assets/linkedin 2.png" alt="LinkedIn" class="img-fluid" style="max-height: 30px;"></a>
          <a href="https://www.instagram.com/lato_tech"  target="_blank"><img src="assets/instagram 2.png" alt="LinkedIn" class="img-fluid" style="max-height: 30px;"></a>
          <a href="https://tvminfotech.com/"  target="_blank"><img src="assets/google1.png" alt="LinkedIn" class="img-fluid" style="max-height: 30px;"></a>
          <a href=" https://www.linkedin.com/feed/" target="_blank"><img src="assets/pinterest 2.png" alt="LinkedIn" class="img-fluid" style="max-height: 30px;"></a>

        </div>
      </div>
    </div>
  </div>
  