<div>
    <div>
        <img src="assets/bgpic2.jpg" alt="img" class="w-100 h-0.1 img-responsive">
    </div>
    <div class="bg-black text-white p-3">
        <a routerLink="/home">HOME ></a> ABOUT
    </div>
    <div>
        <div class="text-center p-2 mt-4">
            <h1>ABOUT TVM Infotech Private Limited</h1>
        </div>
        <div class="vertical-flowchart mt-4">
            <!-- Card 1 -->
            <div class="flowchart-card p-3 text-center">
                <h4>May 2015</h4>
                <h3>Service Provider</h3>
                <p>We are proud of our reputation as a leading IT Services Provider, which has stood us in good stead for over 1 years since our incorporation in May 2019.</p>
            </div>
            <!-- Card 2 -->
            <div class="flowchart-card p-3 text-center">
                <h4>March 2016</h4>
                <h3>IT Consultancy</h3>
                <p>Our primary business objective is to be a valuable partner to our customers and this has not changed over the years as we grew from a IT Consultancy and High-end IT Training center to an information technology services company.</p>
            </div>
            <!-- Card 3 -->
            <div class="flowchart-card p-3 text-center">
                <h4>April 2016</h4>
                <h3>Software Development</h3>
                <p>TVM Infotech Private Limited is the brand name of International and its subsidiaries. Its flagship company is headquartered in Chennai, India and all software development and delivery capabilities are based here.</p>
            </div>
            <!-- Card 4 -->
            <div class="flowchart-card p-3 text-center">
                <h4>March 2016</h4>
                <h3>Outsourcing Solution</h3>
                <p>TVM Infotech Private Limited is an established and very successful business enterprise providing information technology consulting, technology services and outsourcing solutions.</p>
            </div>
            <!-- Card 5 -->
            <div class="flowchart-card p-3 text-center">
                <h4>April 2016</h4>
                <h3>IT services</h3>
                <p>TVM Infotech Private Limited has created an exemplary track record of providing IT services and is one of the first few early pioneers who were instrumental in setting up the onsite, offsite and offshore delivery approach.</p>
            </div>
        </div>
    </div>

    <div class=" text-center my-5">
        <div class="row mb-4">
          <div class="col">
            <h1 class="border border p-2 ">STILL COUNTING</h1>
          </div>
        </div>
        <div class="row count p-5">
          <div class="col-md-3 col-6 mb-4">
            <h1>300+</h1>
            <p>HAPPY CLIENTS</p>
          </div>
          <div class="col-md-3 col-6 mb-4">
            <h1>2</h1>
            <p>ACHIEVEMENTS</p>
          </div>
          <div class="col-md-3 col-6 mb-4">
            <h1>400+</h1>
            <p>PROJECT DONE</p>
          </div>
          <div class="col-md-3 col-6 mb-4">
            <h1>225+</h1>
            <p>CLOUD ACHIEVEMENTS</p>
          </div>
        </div>
      </div>

      <app-quick-links></app-quick-links>
      <app-footer></app-footer>

</div>
