<div class="banner">
    <div>
      
    <h1 class="text-white text-center bold h-1">COMPLETE NETWORK SOLUTIONS</h1>
    <p class="text-white text-center p-1 ">Connect everything with software Stay Connected live long</p>
    </div>
  
  </div>
  
  <div class="d-flex justify-content-between align-items-center midcontent">
    <h2>Boost your NETWORK & Wireless skills & <span class="shadows"> SOLUTION</span></h2>
    <p>PROFESSIONAL CCIE ROUTING and SWITCHING</p>
  </div>
  
  <div class="mt-5">
    <div>
      <h2 class="text-center">Experience the fineness in WEB</h2>
      <p class="text-center">Utilize Digital Marketing for a profitable presence on the web & Optimize your E-Commerce store and increase your ROI</p>
    </div>
    <div class="container mt-4">
      <div class="row">
        <div class="col-md-4">
          <div class="card custom-card">
            <img src="assets/edit.png" class="card-img-top mx-auto d-block logo" alt="Logo 1">
            <div class="card-body">
              <h5 class="card-title">WEB SOLUTION</h5>
              <p class="card-text">We provide a variety of web solutions that enhance your digital assets or your understanding of new and disruptive technologies. Bring us on board to maximize business value from your technology investment.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card custom-card">
            <img src="assets/solution.png" class="card-img-top mx-auto d-block logo" alt="Logo 2">
            <div class="card-body">
              <h5 class="card-title">MOBILE SOLUTION</h5>
              <p class="card-text">Mobility has become entrenched in the business environment. If you are in the midst of implementing your enterprise mobility strategy, iNoryaSoft can be of assistance. We offer a suite of mobile solutions targeting diverse business requirements.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card custom-card">
            <img src="assets/cloud-computing.png" class="card-img-top mx-auto d-block logo" alt="Logo 3">
            <div class="card-body">
              <h5 class="card-title">CLOUD SOLUTION</h5>
              <p class="card-text">Cloud computing is a recognized means of improving business agility, lowering costs and reducing IT complexity. iNoryaSoft helps you extract most benefit from the latest cloud services while also providing cloud migration and management.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="row mt-4">
        <div class="col-md-4">
          <div class="card custom-card">
            <img src="assets/key.png" class="card-img-top mx-auto d-block logo" alt="Logo 4">
            <div class="card-body">
              <h5 class="card-title">SEO </h5>
              <p class="card-text">We optimize the site to meet the technical aspects like canonicalization, redirection, and dead links. With this, Google gives more weightage to your site,  engine friendly.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card custom-card">
            <img src="assets/ecom.png" class="card-img-top mx-auto d-block logo" alt="Logo 5">
            <div class="card-body">
              <h5 class="card-title">E-COMMERCE </h5>
              <p class="card-text">ven the greatest products don't sell themselves. iNt enhances your e-commerce store's content and optimizes it for both people and search engines.</p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card custom-card">
            <img src="assets/phonelogo.png" class="card-img-top mx-auto d-block logo" alt="Logo 6">
            <div class="card-body">
              <h5 class="card-title">SOFTWARE DEVELOPMENT</h5>
              <p class="card-text">Dump your business ideas to us we take your business to global level with customized solutions. & integrate with cloud Solutions Optimize everything</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  
  <div class=" text-center my-5">
    <div class="row mb-4">
      <div class="col">
        <h1 class="border border p-2 ">STILL COUNTING</h1>
      </div>
    </div>
    <div class="row count p-5">
      <div class="col-md-3 col-6 mb-4">
        <h1>300+</h1>
        <p>HAPPY CLIENTS</p>
      </div>
      <div class="col-md-3 col-6 mb-4">
        <h1>2</h1>
        <p>ACHIEVEMENTS</p>
      </div>
      <div class="col-md-3 col-6 mb-4">
        <h1>400+</h1>
        <p>PROJECT DONE</p>
      </div>
      <div class="col-md-3 col-6 mb-4">
        <h1>225+</h1>
        <p>CLOUD ACHIEVEMENTS</p>
      </div>
    </div>
  </div>
  
  
  
  
  
  
  
  <app-quick-links></app-quick-links>
  <app-footer></app-footer>
