<div class="d-flex justify-content-between align-items-center bg-dark text-white opacity-0.6">
  <div>
    <img src="assets/tvmlogo1.png" alt="logo" class="img-fluid cur" style="max-height: 80px;" (click)="onTvm()">
  </div>
  <div class="text-right">
    <img src="assets/email2.png" alt="email" class="img-fluid" style="max-height: 20px;"> info@tvminfotech.com
    <img src="assets/phone.png" alt="phone" class="img-fluid" style="max-height: 20px;"> +91 - 91508 71694
  </div>
</div>

<header class="head">
  <div class="d-flex justify-content-between align-items-center">
    <div class="flex-grow-1 d-flex justify-content-center">
      <nav class="navbar">
        <ul class="nav">
          <li class="nav-item">
            <a class="nav-link" routerLink="/home">HOME</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/about">ABOUT</a>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" routerLink="/softwareServices" id="softwareDropdown" role="button"
              data-bs-toggle="dropdown" aria-expanded="false">
              SOFTWARE SOLUTIONS
            </a>
            <ul class="dropdown-menu full-width-dropdown" aria-labelledby="softwareDropdown">
              <li><a class="dropdown-item" routerLink="/softwareServices">Web Development</a></li>
              <li><a class="dropdown-item" routerLink="/softwareServices">Software Development</a></li>
              <li><a class="dropdown-item" routerLink="/softwareServices">Mobile App Development</a></li>
              <li><a class="dropdown-item" routerLink="/softwareServices">E-Commerce Development</a></li>
              <li><a class="dropdown-item" routerLink="/softwareServices">Graphics and Multimedia Solutions</a></li>
              <li><a class="dropdown-item" routerLink="/softwareServices">SEO Services</a></li>
            </ul>
          </li>
          <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" routerLink="/networkServices" id="networkDropdown" role="button"
              data-bs-toggle="dropdown" aria-expanded="false">
              NETWORK SOLUTION
            </a>
            <ul class="dropdown-menu full-width-dropdown" aria-labelledby="networkDropdown">
              <li><a class="dropdown-item" routerLink="/networkServices">CISCO ROUTING AND SWITCHING</a></li>
              <li><a class="dropdown-item" routerLink="/networkServices">IT INFRASTRUCTURE SOLUTION</a></li>
              <li><a class="dropdown-item" routerLink="/networkServices">MICROSOFT SERVER SOLUTION</a></li>
              <li><a class="dropdown-item" routerLink="/networkServices">MICROSOFT AZURE SOLUTION</a></li>
              <li><a class="dropdown-item" routerLink="/networkServices">CISCO SECURITY SOLUTION</a></li>
              <li><a class="dropdown-item" routerLink="/networkServices">REDHAT SERVER SOLUTION</a></li>
              <li><a class="dropdown-item" routerLink="/networkServices">ALIBABA CLOUD SOLUTION</a></li>
            </ul>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="/enroll">ENROLL</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="contact">CONTACT US</a>
          </li>
        </ul>
      </nav>
    </div>
    <div class="d-flex">
      <a href="https://www.facebook.com/" target="_blank"><img src="assets/facebook 4.png" alt="Facebook"
          class="img-fluid me-2" style="max-height: 30px;"></a>
      <a href="https://x.com/" target="_blank"><img src="assets/twitter 2.png" alt="Twitter" class="img-fluid me-2"
          style="max-height: 30px;"></a>
      <a href=" https://www.linkedin.com/feed/" target="_blank"><img src="assets/linkedin 2.png" alt="LinkedIn"
          class="img-fluid" style="max-height: 30px;"></a>
    </div>
  </div>
</header>

  <router-outlet></router-outlet>
  
  
    

