<div>
    <div>
        <img src="assets/bgpic4.jpg" alt="img" class="w-100">
    </div>
    <div class="bg-black text-white p-3">
        <a routerLink="/home">HOME</a> > Networking Services   
    </div>
    <div>
        <div class="row mt-4 p-5">
            <!-- Card 1 -->
            <div class="col-md-3 mb-4">
                <div class="service-card text-center p-3">
                    <img src="assets/data-complexity.png" alt="Logo 1" class="card-logo mb-3">
                    <h4 class="card-title">CCNP Routing & Switching</h4>
                    <p>(CCNP®) validates the ability to plan, implement, verify and troubleshoot local and wide-area enterprise networks and work with specialists on advanced security.</p>
                </div>
            </div>
            <!-- Card 2 -->
            <div class="col-md-3 mb-4">
                <div class="service-card text-center p-3">
                    <img src="assets/security.png" alt="Logo 2" class="card-logo mb-3">
                    <h4 class="card-title">CCNA Security</h4>
                    <p>The CCNA Security certification lays the foundation for job roles such as Network Security Specialist, Security Administrator and Network Security Support Engineer.</p>
                </div>
            </div>
            <!-- Card 3 -->
            <div class="col-md-3 mb-4">
                <div class="service-card text-center p-3">
                    <img src="assets/database.png" alt="Logo 3" class="card-logo mb-3">
                    <h4 class="card-title">DATA BASE SERVER</h4>
                    <p>A database administrator (DBA) directs or performs all activities related to maintaining a successful database environment as defined by the client–server model</p>
                </div>
            </div>
            <!-- Card 4 -->
            <div class="col-md-3 mb-4">
                <div class="service-card text-center p-3">
                    <img src="assets/redhat.png" alt="Logo 4" class="card-logo mb-3">
                    <h4 class="card-title">REDHAT FULL STACK</h4>
                    <p>A secure, scalable platform for building public and private clouds. A stable, proven foundation that’s versatile enough for rolling out new applications and creating a secure hybrid cloud.</p>
                </div>
            </div>
            <!-- Card 5 -->
            <div class="col-md-3 mb-4">
                <div class="service-card text-center p-3">
                    <img src="assets/micro.png" alt="Logo 5" class="card-logo mb-3">
                    <h4 class="card-title">MCSA</h4>
                    <p>MCSA (Microsoft Certified Solutions Associate) is a certification program intended for people who seek entry-level jobs in an IT (information technology) environment.</p>
                </div>
            </div>
            <!-- Card 6 -->
            <div class="col-md-3 mb-4">
                <div class="service-card text-center p-3">
                    <img src="assets/cloud-computing.png" alt="Logo 6" class="card-logo mb-3">
                    <h4 class="card-title">AWS - CloudService</h4>
                    <p>Amazon Web Services is a subsidiary of Amazon.com that provides on-demand cloud computing platforms to individuals, companies and governments, on a paid subscription basis.</p>
                </div>
            </div>
            <!-- Card 7 -->
            <div class="col-md-3 mb-4">
                <div class="service-card text-center p-3">
                    <img src="assets/e.png" alt="Logo 7" class="card-logo mb-3">
                    <h4 class="card-title">IOT - Services</h4>
                    <p>From integrating the right sensors and deriving inspired insights to choosing the best-fit platform, we provide comprehensive IoT services to our clients.</p>
                </div>
            </div>
            <!-- Card 8 -->
            <div class="col-md-3 mb-4">
                <div class="service-card text-center p-3">
                    <img src="assets/setting.png" alt="Logo 8" class="card-logo mb-3">
                    <h4 class="card-title">Technical Support Services</h4>
                    <p>TVM Infotech Private Limited offers technical support service effective maintenance of your IT infrastructure. The support includes hardware warranty & replacement & resolution services.</p>
                </div>
            </div>
        </div>
        
    </div>
    <div>
        <div>
            <h2 class="border text-center p-4">OUR SOFTWARE CORE SERVICES</h2>
        </div>
        <div class="row mt-4 p-5">
            <!-- Card 1 -->
            <div class="col-md-3 mb-4">
                <div class="service-card p-4 text-center">
                    <img src="assets/webdesign.png" alt="Logo 1" class="img-fluid mb-3">
                    <h4 class="card-title">Web Design</h4>
                    <p>Solidify your online presence with a stunningly-looking, functional, custom web design that generates amazing brand engagement.</p>
                </div>
            </div>
            <!-- Card 2 -->
            <div class="col-md-3 mb-4">
                <div class="service-card p-4 text-center">
                    <img src="assets/html.png" alt="Logo 2" class="img-fluid mb-3">
                    <h4 class="card-title">HTML CSS3 2</h4>
                    <p>If you are looking to upgrade your website and step into the next phase of the Web, we can help you with your HTML5 and CSS3 development needs</p>
                </div>
            </div>
            <!-- Card 3 -->
            <div class="col-md-3 mb-4">
                <div class="service-card p-4 text-center">
                    <img src="assets/bell.png" alt="Logo 3" class="img-fluid mb-3">
                    <h4 class="card-title">RIA -RIU</h4>
                    <p>Rich Internet Applications developed by the experts at ANGLER offer superior accessibility, portability and scalability.</p>
                </div>
            </div>
            <!-- Card 4 -->
            <div class="col-md-3 mb-4">
                <div class="service-card p-4 text-center">
                    <img src="assets/rocket.png" alt="Logo 4" class="img-fluid mb-3">
                    <h4 class="card-title">Web Development</h4>
                    <p>Next generation Web Applications to help you sail smooth through challenging and constantly-evolving technological changes.Description of service 4.</p>
                </div>
            </div>
            <!-- Card 5 -->
            <div class="col-md-3 mb-4">
                <div class="service-card p-4 text-center">
                    <img src="assets/cloud-computing.png" alt="Logo 5" class="img-fluid mb-3">
                    <h4 class="card-title">Web Hosting Services</h4>
                    <p>We provide comprehensive Web Hosting Services to our clients with the help of our experienced professionals.</p>
                </div>
            </div>
            <!-- Card 6 --> 
            <div class="col-md-3 mb-4">
                <div class="service-card p-4 text-center">
                    <img src="assets/edit.png" alt="Logo 6" class="img-fluid mb-3">
                    <h4 class="card-title">Design Service </h4>
                    <p>If you are looking to upgrade your website and step into the next phase of the Web, we can help you with your HTML5 and CSS3 development needs.</p>
                </div>
            </div>
            <!-- Card 7 -->
            <div class="col-md-3 mb-4">
                <div class="service-card p-4 text-center">
                    <img src="assets/speedometer.png" alt="Logo 7" class="img-fluid mb-3">
                    <h4 class="card-title">Online Marketting  Service</h4>
                    <p>Having a website that ranks low in a search engine can't make your business grow. You are missing the boat.</p>
                </div>
            </div>
            <!-- Card 8 -->
            <div class="col-md-3 mb-4">
                <div class="service-card p-4 text-center">
                    <img src="assets/letter-y.png" alt="Logo 8" class="img-fluid mb-3">
                    <h4 class="card-title">Outsourcing Service</h4>
                    <p>We are engaged in providing high quality, reliable, prompt, cost-effective and client-centric Outsourcing Services to our clients.</p>
                </div>
            </div>
        </div>

    </div>
    <app-quick-links></app-quick-links>
    <app-footer></app-footer>
</div>
